<footer class="footer">
    {{- if .Site.Copyright }}
    <span>{{ .Site.Copyright | markdownify }}</span>
    {{- else }}
    <span>&copy; 2020-{{ now.Year }} <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></span>
    {{- end }}
    <span>&middot;</span>
    <span>Powered by <a href="https://gohugo.io/" rel="noopener noreferrer" target="_blank">Hugo</a></span>
    <span>&middot;</span>
    <span>Theme <a href="https://git.io/hugopapermod" rel="noopener" target="_blank">PaperMod</a></span>
    <span>&middot;</span>
    <span><a href="https://resium.cn">源自下载</a></span>
    <span>&middot;</span>
    <span><a href="https://github.com/huayin-opensource">华隐开源</a></span>
    <span>&middot;</span>
    <span><a href="mailto:contact@aicoder.io">AICoder</a></span>
    <span>&middot;</span>
    <span><a href="https://pproxy.net" rel="noopener" target="_blank">Personal Proxy</a></span>
    <span>&middot;</span>
    <span><a href="https://flomoapp.com/register2/?MTU4MzU4" rel="noopener" target="_blank">flomo 笔记</a></span>
    <span>&middot;</span>
    <span><a href="https://www.processon.com/i/5b284a5be4b0200a8e935986" rel="noopener" target="_blank">ProcessOn
            会员</a></span>
    <span>&middot;</span>
    <span><a href="https://github.com/k8scat" rel="noopener" target="_blank">GitHub</a></span>
    <span>&middot;</span>
    <span><a href="https://marketing.qiniu.com/cps/redirect?redirect_id=1&cps_key=1h61k89l1j7f6" rel="noopener"
            target="_blank">七牛云</a></span>
    <span>&middot;</span>
    <span><a href="https://www.infoq.cn/u/aicoder" rel="noopener" target="_blank">InfoQ</a></span>
    <span>&middot;</span>
    <span><a href="https://juejin.cn/user/588993963244430/posts" rel="noopener" target="_blank">掘金</a></span>
    <span>&middot;</span>
    <span><a href="https://my.oschina.net/k8scat" rel="noopener" target="_blank">开源中国</a></span>
    <span>&middot;</span>
    <span><a href="https://www.zhihu.com/people/wanhuasong" rel="noopener" target="_blank">知乎</a></span>
    <span>&middot;</span>
    <span><a href="https://gitee.com/k8scat" rel="noopener" target="_blank">码云</a></span>
    <span>&middot;</span>
    <span><a href="https://leetcode-cn.com/u/k8scat/" rel="noopener" target="_blank">力扣</a></span>
    <span>&middot;</span>
    <span><a href="https://www.jianshu.com/u/0d1c3ff8b7fe" rel="noopener" target="_blank">简书</a></span>
    <span>&middot;</span>
    <span><a href="https://stackoverflow.com/users/10214887/k8scat" rel="noopener"
            target="_blank">StackOverflow</a></span>
    <span>&middot;</span>
    <span><a href="https://segmentfault.com/u/k8scat" rel="noopener" target="_blank">SegmentFault</a></span>
    <span>&middot;</span>
    <span><a href="https://www.cnblogs.com/k8scat" rel="noopener" target="_blank">博客园</a></span>
    <span>&middot;</span>
    <span><a href="https://www.v2ex.com/member/hsowan" rel="noopener" target="_blank">V2EX</a></span>
    <span>&middot;</span>
    <span><a href="https://gitlab.com/k8scat" rel="noopener" target="_blank">GitLab</a></span>
    <span>&middot;</span>
    <span><a href="https://gitea.com/k8scat" rel="noopener" target="_blank">Gitea</a></span>
    <span>&middot;</span>
    <span><a href="https://mlog.club/user/5679?tab=articles" rel="noopener" target="_blank">BBS-GO</a></span>
    <span>&middot;</span>
    <span><a href="https://gist.github.com/k8scat" rel="noopener" target="_blank">GitHub Gist</a></span>
    <span>&middot;</span>
    <span><a href="https://medium.com/@k8scat" rel="noopener" target="_blank">Medium</a></span>
    <span>&middot;</span>
    <span><a href="https://dev.to/k8scat" rel="noopener" target="_blank">DEV.to</a></span>
    <span>&middot;</span>
    <span><a href="https://cloud.tencent.com/developer/user/1050940" rel="noopener" target="_blank">腾讯云+社区</a></span>
    <span>&middot;</span>
    <span><a href="https://developer.aliyun.com/profile/uqqc2nvd6gfma" rel="noopener"
            target="_blank">阿里云开发者社区</a></span>
    <span>&middot;</span>
    <span><a href="https://www.toutiao.com/c/user/token/MS4wLjABAAAAJmUpRaALsNreAKST3qo4xGyS1YV6DvY7281-DEzbSTm2zbg5tP_PTcFBCd8jDevd/?source=tuwen_detail"
            rel="noopener" target="_blank">今日头条</a></span>
    <span>&middot;</span>
    <span><a href="https://blog.51cto.com/k8scat" rel="noopener" target="_blank">51CTO</a></span>
    <span>&middot;</span>
    <span><a href="https://www.mdnice.com/" rel="noopener" target="_blank">墨滴软件</a></span>
    <span>&middot;</span>
    <span><a href="https://www.imooc.com/u/4011404/articles" rel="noopener" target="_blank">慕课网</a></span>
    <span>&middot;</span>
    <span><a href="https://space.bilibili.com/267603847/article" rel="noopener" target="_blank">Bilibili</a></span>
    <span>&middot;</span>
    <span><a href="https://www.yuque.com/k8scat/blog" rel="noopener" target="_blank">语雀</a></span>
    <span>&middot;</span>
    <span><a href="https://www.notion.so/k8scat/K8sCat-s-blog-6713b73611bd418687dddc349b1207f9" rel="noopener"
            target="_blank">Notion</a></span>
    <span><a href="https://developer.aliyun.com/mirror/" rel="noopener" target="_blank">阿里云官方镜像站</a></span>
    <span><a href="https://cnodejs.org/user/k8scat" rel="noopener" target="_blank">CNode 社区</a></span>
    <span><a href="https://learnku.com/blog/k8scat" rel="noopener" target="_blank">中文 PHP & Laravel 社区</a></span>
    <span><a href="https://ruby-china.org/k8scat" rel="noopener" target="_blank">Ruby China</a></span>
    <span><a href="https://golangtc.com/member/k8scat" rel="noopener" target="_blank">Golang 中国</a></span>
    <span><a href="https://fechat.org/users/k8scat" rel="noopener" target="_blank">FE 社区</a></span>
</footer>
<button class="top-link" id="top-link" type="button" aria-label="go to top" title="Go to Top" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
        <path d="M12 6H0l6-6z" /></svg>
</button>
{{- partial "extend_footer.html" . -}}
{{ if (and (in site.Params.mainSections .Type) (ne .Layout `archives`) (ne .Layout `search`)) }}
{{- if not .Site.Params.assets.disableFingerprinting }}
{{- $highlight := slice (resources.Get "js/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify | fingerprint }}
<script defer src="{{ $highlight.Permalink }}" integrity="{{ $highlight.Data.Integrity }}"
    onload="hljs.initHighlightingOnLoad();"></script>
{{- else}}
{{- $highlight := slice (resources.Get "js/highlight.min.js") | resources.Concat "assets/js/highlight.js" | minify }}
<script defer src="{{ $highlight.Permalink }}" onload="hljs.initHighlightingOnLoad();"></script>
{{- end}}
{{- end }}
<script>
    window.onload = function () {
        if (localStorage.getItem("menu-scroll-position")) {
            document.getElementById('menu').scrollLeft = localStorage.getItem("menu-scroll-position");
        }
    }
    var mybutton = document.getElementById("top-link");
    window.onscroll = function () {
        if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
            mybutton.style.visibility = "visible";
            mybutton.style.opacity = "1";
        } else {
            mybutton.style.visibility = "hidden";
            mybutton.style.opacity = "0";
        }
    };
    mybutton.onclick = function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        window.location.hash = ''
    }

    function menu_on_scroll() {
        localStorage.setItem("menu-scroll-position", document.getElementById('menu').scrollLeft);
    }
</script>
{{- if (not .Site.Params.disableThemeToggle) }}
<script>
    document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.body.className.includes("dark")) {
            document.body.classList.remove('dark');
            localStorage.setItem("pref-theme", 'light');
        } else {
            document.body.classList.add('dark');
            localStorage.setItem("pref-theme", 'dark');
        }
    })
</script>
{{- end }}